.start--btn {
  width: fit-content;
  height: fit-content;
  font-size: 5rem;
  padding: 0.5rem 2rem;
}

.start--and__setting {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.start--btn {
  margin-bottom: 1rem;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 3rem;
}
