.player--stats__section {
  text-align: left;
  font-size: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #52220a;
}

.inventory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  overflow-x: hidden;
}

.inventory--items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  gap: 1rem;
  overflow-x: hidden;
  color: white;
  background-color: #52220a;
  padding: 1rem;
}

.player--characteristics__container {
  grid-row: 2;
  padding: 1rem;
  color: white;
}

.inventory--btn {
  grid-row: 3;
  height: fit-content;
  align-self: end;
}
