* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
}

a, button /* &c... */ {
  all: unset;
  cursor: pointer;
}

.App {
  width: 99.9vw;
  height: 99.9vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text--selection__none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  background-image: url("./assets/game-background.webp");
}
