.menu--item {
  display: block;
  max-width: 100%;
  height: fit-content;

  font-size: 5rem;
  background-color: black;
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.btn:hover {
  opacity: 75%;
  cursor: pointer;
}
